<br><br>

<form enctype="multipart/form-data" class="upload-form" method="post">
  <input class="input_field" type="file" value="file" name="files[]" accept="audio/*|video/*|image/*|MIME_type"/>
</form>

<button id="fileupload" {{action "uploadDocument"}}>Save</button>
