<br><br>

<form enctype="multipart/form-data" class="upload-form" method="post">
  <input class="input_field" onchange={{action "upload"}} type="file" name="files[]" accept="audio/*|video/*|image/*|MIME_type"/>
</form>

<button {{action "uploadDocument"}}>Save</button>
