<br><br>

<form enctype="multipart/form-data" class="upload-form" method="post">
  <input id="fileupload" class="input_field" type="file" value="file" name="files[]" accept="audio/*|video/*|image/*|MIME_type"/>
</form>

<button {{action "uploadDocument"}}>Save</button>
