
    <div class="col-xs-12 col-sm-6 col-md-4 text-center" style= "margin-bottom: 30px;">
      <div>
        {{#if post.imageUrl }}
          <img src={{post.imageUrl}} class="post-image">
        {{/if}}
        {{#if post.file }}
          <img src={{post.file}} class="post-image">
        {{/if}}
      </div>
      <div>
        Title: <strong>{{post.fileName}}</strong>
      </div>
      <div>
        Caption: <strong>{{post.caption}}</strong>
      </div>
    </div>
