@import "bootstrap";

// helpers
.text-downcase {
  text-transform: lowercase;
}

.margin-top-20 {
  margin-top: 20px
}

// specific
.black-testing-border {
  border: 1px solid black;
}

.image-view-row {
  padding: 20px;
}

.image-container-block {
  min-height: 260px
}

.image-container {
  max-width: 350px;
}

.post-image {
  max-width: 100%;
  max-height: 240px;
}

.post-container {
  margin-bottom: 30px;
}

.post-top-margin {
  margin-top: 30px;
}

.navbar-styling {
  background: #3bc5ec;
  border-color: #3bc5ec;
}

.navbar-title-text-style {
  color: #fff;
  font-size: 20px;
}

.navbar-text-style {
  font-size: 15px !important;
  color: white;
  margin-left: -8px !important;
}

.alignleft {
  text-decoration: none;
  color: #3bc5ec;
  padding-top: 2.2em;
 }

body {
  background-color: #fff;
  font-family: Work Sans;
}

.btn-orange {
  color: #fff;
  background-color: tomato;
  border-color: tomato;
}
.btn-orange:hover {
  color: #fff;
  background-color: #ff5233;
  border-color: #ff3c1a;
}

.btn-yellow {
  color: #fff;
  background-color: pink;
  border-color: pink;
}

.app-content {
  padding-top: 50px;
  background: #fff;
}

.search-bar-position {
  margin-top: 8px;
  margin-right: 10px;
  max-width: 300px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1030;
}

.form-control {
  border-radius: 2px;
}

.form-box {
  min-height: 500px;
  margin-top: 50px;
  background: #3bc5ec;
}

.form-top-margin {
  padding-top: 100px;
}

.leave-comment-box {
  padding-bottom: 10px
}

.edit-image-wrapper {
  min-height: 280px;
  padding-bottom: 10px;
}

.inner-content {
  background-color: #3bc5ec;
  max-width: 40%;
  border-radius: 5px;
  padding: 10px;
  margin-top: 12px;
  margin-left: 6px;
  word-break: break-word;
  color: #fff;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  }

.inner-content:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 7px 10px;
  border-color: #3bc5ec transparent;
  display: block;
  width: 0;
  z-index: 1;
  top: -10px;
  left: 15px;
  color: #3bc5ec;
}

.scrolling-comments {
  width: 100%;
  max-height: 302px;
  height: 302px;
  overflow: scroll;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
  -o-box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.edit-page-image {
  max-width: 100%;
  max-height: 400px;
}

.comments-edie-div {
  max-height: 480px
}

.title-div {
  margin-top: 10px;
}
