<h3>Comment new</h3>
<form>
  <div>
    <label>Comment:</label>
    {{textarea rows="5" value=model.body}}
  </div>

  <div>
    <button {{action 'save'}}>Save</button>
    <button {{action 'cancel'}}>Cancel</button>
  </div>
</form>
