<!-- I am the post index - I show all the post. -->

<div class="text-center post-top-margin" style="margin-bottom: 30px;">
{{#link-to "posts.new" class="btn btn-info btn-lg"}}New Post{{/link-to}}
</div>

<br><br><br><br>

{{#each model as |post|}}
  {{#link-to "posts.show" post}}
    <div class="col-xs-12 col-sm-6 col-md-4 text-center" style= "margin-bottom: 30px;">
      <div>
        <img src={{post.imageUrl}} class="post-image">
      </div>
      <div>
        Title: <strong>{{post.fileName}}</strong>
      </div>
      <div>
        Caption: <strong>{{post.caption}}</strong>
      </div>
    </div>
  {{/link-to}}
{{/each}}
