I am the post index - I show all the post.

<br><br>

Click {{#link-to "posts.new"}}here{{/link-to}} to create a new post.

<br><br><br><br>

{{#each model as |post|}}
  {{#link-to "posts.show" post}}
    <p>
      {{post.name}}
      <br>
      <img src={{post.imageUrl}} class="image-size">
    </p>
    <p>
      {{post.caption}}
    </p>

    <br><br><br><br>
  {{/link-to}}
{{/each}}
