I am the post index - I show all the post.

<br><br>

Click {{#link-to "posts.new"}}here{{/link-to}} to create a new post.

<br><br>

{{#each model as |post|}}
  {{#link-to "posts.show" post}}
    <ul>
      <li>
        {{post.image_url}}
        <br>
        {{post.name}}
        <br>
        {{post.caption}}
      </li>
    </ul>
  {{/link-to}}
{{/each}}
