<!-- I am the post index - I show all the post. -->

<div class="text-center post-top-margin" style="margin-bottom: 30px;">
{{#link-to "posts.new" class="btn btn-info btn-lg"}}New Post{{/link-to}}
</div>


<h3>Ember search</h3>
{{post-filter}}

<br><br><br><br>


<h5>Rails search - not working ATM</h5>
{{search-filter}}

<br><br><br><br>

{{#each model as |post|}}
  {{#link-to "posts.show" post}}
    {{show-all-post post=post}}
  {{/link-to}}
{{/each}}
