Here I will add a form to upload a new photo.
<br>

<ul>
  <li>
    Title: <input type="text" name="" value="">
    <br><br>
    Pic: <input type="text" name="" value="">
    <br><br>
    Caption: <input type="text" name="" value="">
  </li>
</ul>

<br><br><br><br>

{{#link-to 'posts' class="button"}}Back{{/link-to}}
