I am a single post!
<br>

<ul>
  <li>
    {{model.image_url}}
    <br>
    {{model.name}}
    <br>
    {{model.caption}}
  </li>
</ul>
<br>


{{#link-to 'posts' class="button"}}
  <button>Back</button>
{{/link-to}}


{{#link-to 'posts.edit' model.id class="button"}}
  <button>Edit</button>
{{/link-to}}
