I am a single post!
<br>

<p>
  {{model.name}}
  <br>
  <img src={{model.imageUrl}} class="image-size">
</p>
<p>
  {{model.caption}}
</p>


{{#link-to 'posts' class="button"}}
  <button>Back</button>
{{/link-to}}

{{#link-to 'posts.edit' model.id class="button"}}
  <button>Edit</button>
{{/link-to}}

<button {{action "deletePost" model.imageUrl model.name model.caption}}>Delete</button>
