<!-- I am a single post! -->

<!-- <div class="col-sm-12 col-md-12"> -->

  <div class="text-center post-top-margin">
    <div>
      <img src={{model.imageUrl}} class="post-image">
    </div>
    <div>
      Title: <strong>{{model.fileName}}</strong>
    </div>
    <div>
      Caption: <strong>{{model.caption}}</strong>
    </div>



    {{#link-to 'posts' class="btn btn-info"}}
      Back
    {{/link-to}}

    {{#link-to 'posts.edit' model.id class="btn btn-warning"}}
      Edit
    {{/link-to}}

    <div class="btn btn-orange">
      {{delete-post model=model deletePost="deletePost"}}
    </div>

  </div>
<!-- </div> -->
