
<div class="container">
  <div class="map-box col-md-6 col-md-offset-3 map-top-padding">
    <h1>
      Hello, welcome to Insa!
    </h1>
    <p>
      Insa is an image uploading site where you can share your favorite pictures, leave comments on your friends pictures and view them from anywhere!
    </p>
    Look we're in Miami!
    <div class="col-md-12 col-md-offset-2">
      {{location-map location="Miami"}}
    </div>
  </div>
</div>
